In [2]:
import pandas as pd 

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

train.shape, test.shape

((10000, 21), (10000, 20))

In [4]:
train.head()
test.head()

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Monthly_Balance,Credit_Mix,Payment_Behaviour,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
0,4.0,8.0,2.0,33.444469,239.0,No,104.467859,503.976904,Good,Low_spent_Small_value_payments,54.0,43754.320,5.0,7.0,7.0,1.0,3938.193333,7.55,515.73,35.374569
1,31.0,19.0,14.0,27.762143,93.0,Yes,149.137974,219.372773,Bad,High_spent_Small_value_payments,40.0,18836.230,6.0,8.0,16.0,6.0,1280.685833,14.26,1310.56,49.557837
2,55.0,16.0,17.0,38.985106,179.0,Yes,21.862086,299.525207,Standard,Low_spent_Small_value_payments,27.0,9360.515,8.0,6.0,15.0,5.0,531.042917,11.92,2113.29,21.716999
3,47.0,20.0,8.0,25.577407,93.0,Yes,170.009215,161.283266,Bad,Low_spent_Small_value_payments,34.0,30386.200,7.0,8.0,21.0,9.0,2650.183333,17.53,4902.83,193.725852
4,26.0,11.0,7.0,36.580166,207.0,Yes,296.552469,177.231449,Standard,High_spent_Medium_value_payments,36.0,49187.070,6.0,6.0,25.0,6.0,3823.922500,12.04,1357.26,198.608332

In [6]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Delay_from_due_date       10000 non-null  float64
 1   Num_of_Delayed_Payment    10000 non-null  float64
 2   Num_Credit_Inquiries      10000 non-null  float64
 3   Credit_Utilization_Ratio  10000 non-null  float64
 4   Credit_History_Age        10000 non-null  float64
 5   Payment_of_Min_Amount     10000 non-null  object
 6   Amount_invested_monthly   10000 non-null  float64
 7   Monthly_Balance           10000 non-null  float64
 8   Credit_Score              10000 non-null  int64
 9   Credit_Mix                10000 non-null  object
 10  Payment_Behaviour         10000 non-null  object
 11  Age                       10000 non-null  float64
 12  Annual_Income             10000 non-null  float64
 13  Num_Bank_Accounts         10000 non-null  float64
 14  Num_Credit_Card           10000 non-null  float64
 15  Interest_Rate             10000 non-null  float64
 16  Num_of_Loan               10000 non-null  float64
 17  Monthly_Inhand_Salary     10000 non-null  float64
 18  Changed_Credit_Limit      10000 non-null  float64
 19  Outstanding_Debt          10000 non-null  float64
 20  Total_EMI_per_month       10000 non-null  float64
dtypes: float64(17), int64(1), object(3)
memory usage: 1.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Delay_from_due_date       10000 non-null  float64
 1   Num_of_Delayed_Payment    10000 non-null  float64
 2   Num_Credit_Inquiries      10000 non-null  float64
 3   Credit_Utilization_Ratio  10000 non-null  float64
 4   Credit_History_Age        10000 non-null  float64
 5   Payment_of_Min_Amount     10000 non-null  object
 6   Amount_invested_monthly   10000 non-null  float64
 7   Monthly_Balance           10000 non-null  float64
 8   Credit_Mix                10000 non-null  object
 9   Payment_Behaviour         10000 non-null  object
 10  Age                       10000 non-null  float64
 11  Annual_Income             10000 non-null  float64
 12  Num_Bank_Accounts         10000 non-null  float64
 13  Num_Credit_Card           10000 non-null  float64
 14  Interest_Rate             10000 non-null  float64
 15  Num_of_Loan               10000 non-null  float64
 16  Monthly_Inhand_Salary     10000 non-null  float64
 17  Changed_Credit_Limit      10000 non-null  float64
 18  Outstanding_Debt          10000 non-null  float64
 19  Total_EMI_per_month       10000 non-null  float64
dtypes: float64(17), object(3)
memory usage: 1.5+ MB

In [7]:
train.describe()

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Amount_invested_monthly,Monthly_Balance,Credit_Score,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
count,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,21.263100,13.381300,5.79400,32.306216,220.501400,195.497580,400.130732,1.880700,33.33680,50318.451889,5.382900,5.538000,14.468200,3.525700,4182.906254,10.435633,1428.996096,105.114322
std,14.778976,6.217876,3.86772,5.093599,99.204263,196.150962,211.034108,0.679789,10.73122,38171.440801,2.566271,2.096186,8.687977,2.441585,3175.891720,6.501954,1158.852422,125.502925
min,0.000000,0.000000,0.00000,20.719745,2.000000,0.000000,0.007760,1.000000,14.00000,7006.035000,0.000000,0.000000,1.000000,0.000000,303.645417,0.500000,0.230000,0.000000
25%,10.000000,9.000000,3.00000,28.075839,144.000000,74.056997,268.741936,1.000000,24.00000,19259.307500,4.000000,4.000000,7.000000,2.000000,1626.342083,5.507500,562.340000,28.588769
50%,18.000000,14.000000,6.00000,32.310153,219.000000,130.089440,334.854343,2.000000,33.00000,36875.140000,5.000000,5.000000,13.000000,3.000000,3073.272917,9.410000,1168.235000,65.971478
75%,28.000000,18.000000,8.00000,36.491502,301.000000,234.960725,470.351899,2.000000,42.00000,71507.587500,7.000000,7.000000,20.000000,5.000000,5936.870000,14.630000,1960.420000,144.429302
max,67.000000,28.000000,17.00000,47.103409,404.000000,1674.337665,1567.208309,3.000000,56.00000,179987.280000,10.000000,11.000000,34.000000,9.000000,15167.180000,29.980000,4998.070000,1701.955013

In [10]:
train.isnull().sum()
# test.isnull().sum()

Delay_from_due_date         0
Num_of_Delayed_Payment      0
Num_Credit_Inquiries        0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Amount_invested_monthly     0
Monthly_Balance             0
Credit_Score                0
Credit_Mix                  0
Payment_Behaviour           0
Age                         0
Annual_Income               0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Monthly_Inhand_Salary       0
Changed_Credit_Limit        0
Outstanding_Debt            0
Total_EMI_per_month         0
dtype: int64

In [11]:
target = train.pop("Credit_Score")

train.shape, test.shape

((10000, 20), (10000, 20))

In [12]:
data = pd.concat([train, test])
data.shape

(20000, 20)

In [15]:
cols = train.select_dtypes(include="object").columns
train[cols].describe()

       Payment_of_Min_Amount Credit_Mix               Payment_Behaviour
count                  10000      10000                           10000
unique                     3          3                               6
top                      Yes   Standard  Low_spent_Small_value_payments
freq                    5269       4591                            3416

In [21]:
data_oh = pd.get_dummies(data)
data_oh.shape

train = data_oh.iloc[:len(train)].copy()
test = data_oh.iloc[len(train):].copy()

train.shape
train.head(3)

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Amount_invested_monthly,Monthly_Balance,Age,Annual_Income,Num_Bank_Accounts,...,Payment_of_Min_Amount_Yes,Credit_Mix_Bad,Credit_Mix_Good,Credit_Mix_Standard,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments
0,56.0,16.0,11.0,35.598217,120.0,229.093478,252.385965,15.0,36597.56,8.0,...,True,True,False,False,False,True,False,False,False,False
1,49.0,23.0,12.0,25.553106,120.0,104.613906,219.105944,28.0,32057.30,9.0,...,True,True,False,False,False,False,True,False,False,False
2,34.0,20.0,6.0,40.039954,174.0,338.626965,251.265589,46.0,75868.80,6.0,...,True,True,False,False,False,False,False,True,False,False

In [23]:
# 검증 데이터 나누기 

from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    train, 
    target,
    test_size=0.2,
    random_state=2025 
)

X_train.shape
X_val.shape

(2000, 29)

In [24]:
# 머신러닝 학습 및 평가 

from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb

# 랜덤포레스트 
rf = RandomForestClassifier(random_state=2025)
rf.fit(X_train, y_train)
pred_rf = rf.predict(X_val)


# light GBM
lgbmc = lgb.LGBMClassifier(random_state=2025, verbose=-1)
lgbmc.fit(X_train, y_train)
pred_lgb = lgbmc.predict(X_val)

In [27]:
# 평가
from sklearn.metrics import f1_score

# 랜덤포레스트 평가
result_rf = f1_score(y_val, pred_rf, average="macro")
print(result_rf)

# lightGBM 평가
result_lgb = f1_score(y_val, pred_lgb, average="macro")
print(result_lgb)

0.717182874304012
0.7032138095198882

In [31]:
# 예측 및 결과 파일 생성
pred = rf.predict(test)

submit = pd.DataFrame({
    "pred": pred
})
submit.to_csv("result.csv", index=False)